page {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Comic Sans MS', 'Arial Rounded MT Bold', sans-serif;
  background: linear-gradient(135deg, #6e8efb, #a777e3);
  color: #333;
  max-width: 100vw;
  display: flex;
  flex-direction: column;
}


.header {
  text-align: center;
  margin-bottom: 30px;
  color: white;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

h1 {
  font-size: 2.5rem;
  margin-bottom: 10px;
}



.multiplication-container {
  background-color: white;
  border-radius: 15px;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
  padding: 10rpx;
}

.multiplication-flex {
  display: flex;
  gap: 2px;
  .column {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    gap: 2px;
    .cell {
      width: 60px;
      height: 60px;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 1.4rem;
      font-weight: bold;
      border: 2px solid #6e8efb;
      transition: all 0.3s ease;
      border-radius: 8px;
      background-color: #f0f8ff;
    }
  }
}

.explanation-panel {
  position:absolute;
  background-color: #f0f8ff;
  top: 20vh;
  width: 90vw;
  margin: 0 5vw;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  align-items: center;
  .explanation-header {
    font-size: 1.8rem;
    margin-bottom: 5px;
    color: #6e8efb;
    text-align: center;
  }
  .bunnies-container {
    display: flex;
    flex-wrap: nowrap;
    gap: 20px;
    max-width: 350px;
    .bunny-group {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin: 1px;
      .bunny {
        font-size: 2rem;
        margin: 1px;
      }
      .group-label {
        margin-top: 5px;
        font-weight: bold;
        color: #a777e3;
      }
    }
  }
}

.footer {
  margin-top: 30px;
  color: white;
  text-align: center;
}
